host
lost+found
storage
mnt
dev
home
run
proc
tmp
sys
etc/passwd
etc/groups
etc/shadow
etc/ca-certificates/*
dev
var/log/*
root
var/lib/upower/history*
var/lib/dhclient/dhclient.leases
etc/wicd/wireless-settings.conf
etc/resolv.conf
dev
