[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Eyes
Name[ar]=عيون
Name[ast]=Güeyos
Name[be]=Вочы
Name[bg]=Очи
Name[ca]=Ulls
Name[cs]=Oči
Name[da]=Øjne
Name[de]=Augen
Name[el]=Μάτια
Name[en_AU]=Eyes
Name[en_GB]=Eyes
Name[eo]=Okuloj
Name[es]=Ojos
Name[et]=Silmad
Name[eu]=Begiak
Name[fi]=Silmät
Name[fr]=Yeux
Name[gl]=Ollos
Name[he]=עיניים
Name[hr]=Oči
Name[hu]=Szemek
Name[id]=Mata
Name[is]=Augu
Name[it]=Occhi
Name[ja]=めだま
Name[kk]=Көздер
Name[ko]=눈동자
Name[lt]=Akys
Name[lv]=Acis
Name[ms]=Eyes
Name[nb]=Øyne
Name[nl]=Ogen
Name[oc]=Uèlhs
Name[pa]=ਅੱਖਾਂ
Name[pl]=Oczy
Name[pt]=Olhos
Name[pt_BR]=Olhos
Name[ro]=Ochi
Name[ru]=Глаза
Name[sk]=Oči
Name[sl]=Oči
Name[sq]=Syçka
Name[sr]=Очи
Name[sv]=Ögon
Name[tr]=Gözler
Name[ug]=كۆزلەر
Name[uk]=Очі
Name[ur]=آنکھیں
Name[ur_PK]=آنکھیں
Name[vi]=Cặp mắt
Name[zh_CN]=眼睛
Name[zh_TW]=眼睛
Comment=Eyes that spy on you
Comment[ar]=العيون اللتي تراقبك
Comment[ast]=Güeyos que t'escluquen
Comment[be]=Вочы, якія сочаць за вамі
Comment[bg]=Очи, които те наблюдават
Comment[ca]=Els ulls que t'espien
Comment[cs]=Oči, které Vás sledují
Comment[da]=Øjne, der udspionerer dig
Comment[de]=Augen, die Ihnen zuschauen!
Comment[el]=Μάτια που σε παρακολουθούν
Comment[en_AU]=Eyes that spy on you
Comment[en_GB]=Eyes that spy on you
Comment[es]=Ojos que te espían
Comment[eu]=Zu zelatzen zaituzten begiak
Comment[fi]=Tuijottavat silmät
Comment[fr]=Des yeux qui vous espionnent
Comment[gl]=Ollos que o observan
Comment[he]=עיניים אשר מרגלות אחריך
Comment[hr]=Oči koje vas špijuniraju
Comment[hu]=Szemek, melyek figyelik
Comment[id]=Mata yang mengawasi anda
Comment[is]=Augu sem njósna um þig
Comment[it]=Occhi che ti spiano
Comment[ja]=あなたを追跡するめだまです
Comment[kk]=Сізге бақылайтын көздер
Comment[ko]=당신을 감시하는 눈동자
Comment[lt]=Akys kurios jus seka
Comment[lv]=Acis, kas spiego tevi
Comment[ms]=Mata yang mengintai anda
Comment[nb]=Øyne som spionerer på deg
Comment[nl]=Ogen die u bespioneren
Comment[oc]=Uèlhs que vos espian
Comment[pl]=Wyświetla oczy obserwujące kursor myszy
Comment[pt]=Olhos que o seguem
Comment[pt_BR]=Olhos que espionam você
Comment[ro]=Ochi ce vă spionează
Comment[ru]=Глазки, которые следят за вами
Comment[sk]=Oči, ktoré Vás sledujú
Comment[sl]=Oči vohunijo za vami
Comment[sq]=Syçka që ju mbajnë nën vëzhgim
Comment[sr]=Очи које Вас прате
Comment[sv]=Ögon som spionerar på dig
Comment[tr]=Sizi gözetleyen gözler!
Comment[ug]=سىزگە قاراپ تۇرغان كۆزلەر
Comment[uk]=Очі спостерігають за тобою
Comment[ur]=آنکھیں جو آپ کی جاسوسی کرتی ہیں
Comment[ur_PK]=آنکھیں جو آپ کی جاسوسی کرتی ہیں
Comment[zh_CN]=窥视着您的眼睛
Comment[zh_TW]=盯著您看的眼睛
Icon=xfce4-eyes
X-XFCE-Internal=FALSE
X-XFCE-Module=eyes
