[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=MPD Client Plugin
Name[ar]=ملحق عميل MPD
Name[ast]=Complementu del veceru MPD
Name[bg]=Клиент приставка MPD
Name[ca]=Connector client de MPD
Name[cs]=Zásuvný modul klienta MPD
Name[da]=Klientudvidelsesmodul til MPD
Name[de]=MPD-Klienterweiterung
Name[el]=Πρόσθετο πελάτη Mpd
Name[en_AU]=MPD Client Plugin
Name[en_GB]=MPD Client Plugin
Name[es]=Complemento del cliente MPD
Name[eu]=MPD bezero plugina
Name[fr]=Greffon du client MPD
Name[gl]=Engadido de cliente de MPD
Name[he]=תוסף לקוח MPD
Name[hr]=Priključak MPD klijenta
Name[hu]=MPD-kliens bővítmény
Name[id]=Plugin Klien MPD
Name[it]=MPD Client plugin
Name[ja]=MPD クライアントプラグイン
Name[ko]=MPD 클라이언트 플러그인
Name[lt]=MPD kliento įskiepis
Name[lv]=MPD klienta spraudnis
Name[ms]=Pemalan Klien MPD
Name[nb]=Mpd-klient -tillegg
Name[nl]=Invoegtoepassing voor MPD
Name[oc]=Empeuton del client MPD
Name[pl]=Wtyczka klienta MPD
Name[pt]="Plug-in" MPD
Name[pt_BR]=Plugin para o cliente MPD
Name[ru]=Модуль клиента MPD
Name[sk]=Zásuvný modul klienta MPD
Name[sq]=Shtojcë Klienti MPD
Name[sr]=Прикључак МПД клијента
Name[sv]=Insticksmodulen MPD-klient
Name[th]=ปลั๊กอินลูกข่าย MPD
Name[tr]=MPD İstemcisi Eklentisi
Name[ug]=MPD خېرىدار قىستۇرمىسى
Name[uk]=Плагін для клієнта MPD
Name[ur]=MPD کلائنٹ پلگ ان
Name[ur_PK]=MPD کلائنٹ پلگ ان
Name[zh_CN]=MPD 客户端插件
Name[zh_TW]=MPD 客戶端插件
Comment=A client for MPD, The Music Player Daemon
Comment[ar]=عميل MPD , مشغل الموسيقى
Comment[ast]=Un veceru pa MPD, el degorriu de reproducción de música
Comment[bg]=Клиент за MPD, The Music Player Daemon
Comment[ca]=Un client per a MPD, el dimoni de reproducció de música
Comment[cs]=Klient pro MPD, The Music Player Daemon
Comment[da]=En klient til MPD, musikafspilnings-dæmonen
Comment[de]=Ein Klient für MPD, den Musikwiedergabedienst
Comment[el]=Ένας πελάτης για το MPD, τον Music Player Daemon
Comment[en_AU]=A client for MPD, The Music Player Daemon
Comment[en_GB]=A client for MPD, The Music Player Daemon
Comment[es]=Un cliente para MPD, el demonio de reproducción de música
Comment[eu]=MPD (Music Player Daemon) bezeroa
Comment[fr]=Un client pour MPD, Le Music Player Daemon
Comment[gl]=Un cliente de MPD, o Music Player Daemon
Comment[he]=לקוח עבור MPD, סוכן נגן מוזיקה
Comment[hr]=Klijent za MPD, nadglednika svirača glazbe
Comment[hu]=Kliens az MPD-hez, a Music Player Daemonhoz
Comment[id]=Klien untuk MPD, Jurik Penggelar Musik
Comment[it]=Un client per il demone del riproduttore musicale (MPD)
Comment[ja]=MPD (Music Player Daemon) 用クライアント
Comment[ko]=음악 재생기 데몬 MPD를 위한 클라이언트
Comment[lt]=MPD klientas, Music Player Daemon
Comment[lv]=Klients MPD, mūzikas atskaņošanas dēmons
Comment[ms]=Merupakan klien untuk MPD, Daemon Pemain Muzik
Comment[nb]=Klient for MPD, The Music Player Daemon
Comment[nl]=Een toepassing voor MPD, de Music Player Daemon
Comment[oc]=Un client per MPD, Lo Music Player Daemon
Comment[pl]=Klient MPD, Music Player Daemon
Comment[pt]=Um cliente para o MPD, o serviço musical
Comment[pt_BR]=Um cliente para o MPD, Music Player Daemon (serviço reprodutor de músicas)
Comment[ru]=Клиент для музыкального сервера MPD
Comment[sk]=Klient pre MPD, Music Player Daemon
Comment[sq]=Klient për MPD, "The Music Player Daemon"
Comment[sr]=Клијент за МПД, Домара пуштања музике
Comment[sv]=En klient för MPD, The Music Player Daemon
Comment[th]=ลูกข่ายสำหรับ MPD (Music Player Daemon)
Comment[tr]=MPD, Music Player Daemon için istemci
Comment[ug]=MPD خېرىدار پروگراممىسى، مۇزىكا قويغۇ مۇئەككىلى
Comment[uk]=Клієнт для MPD, The Music Player Daemon
Comment[ur]=کلائنٹ برائے MPD، موسیقی پلیئر ڈیمون
Comment[ur_PK]=کلائنٹ برائے MPD، موسیقی پلیئر ڈیمون
Comment[zh_CN]=MPD 客户端，音乐播放器守护进程
Comment[zh_TW]=MPD，音樂播放器幕後程式的客戶端
Icon=applications-multimedia
X-XFCE-Internal=FALSE
X-XFCE-Module=mpc
