[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Time Out
Name[ar]=انتهت المهلة
Name[ast]=Tiempu colar
Name[bg]=Времето изтече
Name[ca]=Pausa
Name[cs]=Čas vypršel
Name[da]=Timeout
Name[de]=Auszeit
Name[el]=Χρονική ανάπαυλα
Name[en_AU]=Time Out
Name[es]=Tiempo de salir
Name[eu]=Orduz-kanpo
Name[fi]=Tauko
Name[fr]=Temps mort
Name[gl]=Tempo de espera
Name[he]=פסק זמן
Name[hr]=Pauza
Name[hu]=Időkorlát
Name[id]=Istirahat
Name[is]=Time Out
Name[it]=Interruzione
Name[ja]=ひと休み
Name[kk]=Үзіліс
Name[ko]=시간 초과
Name[lt]=Pertrauka
Name[lv]=Laiks iztecējis
Name[ms]=Masa Tamat
Name[nb]=Tidsavbrudd
Name[nl]=Pauze
Name[oc]=Tempses mòrts
Name[pl]=Przerywanie pracy
Name[pt]=Tempo esgotado
Name[pt_BR]=Tempo Esgotado
Name[ru]=Перерыв
Name[sk]=Čas vypršal
Name[sr]=Време је истекло
Name[sv]=Rast
Name[tr]=Zaman Aşımı
Name[ug]=ۋاقىت ئېشىپ كەتتى
Name[uk]=Пауза
Name[ur]=وقت تمام
Name[ur_PK]=وقت تمام
Name[zh_CN]=超时
Name[zh_TW]=逾時
Comment=Automatically controlled time outs and breaks
Comment[ar]=التحكم التلقائي في مهلة و مدة الإستراحة
Comment[ast]=Remanar automáticamente tiempu colar y pauses
Comment[bg]=Автоматичен контрол на изключването и почивките
Comment[ca]=Descansos control·lats automàticament
Comment[cs]=Automaticky ovládané vypršení času a přestávky
Comment[da]=Automatisk kontrollerede timeout og pauser
Comment[de]=Automatisierte Auszeiten, in denen der Bildschirm gesperrt wird
Comment[el]=Αυτόματα ελεγχόμενες χρονικές ανάπαυλες και διαλείμματα
Comment[en_AU]=Automatically controlled time outs and breaks
Comment[es]=Controlar automáticamente tiempo de salida y pausas
Comment[eu]=Automatikoki kontrolatutako atsedenak
Comment[fi]=Näytön lukitus säännöllisten taukojen ajaksi
Comment[fr]=Temps morts et pauses contrôlés automatiquement
Comment[gl]=Tempos de espera e descansos controlados automaticamente
Comment[he]=שליטה אוטומטית על פרקי ה"פסק זמן" והפסקות
Comment[hr]=Automatski kontrolirane pauze
Comment[hu]=Automatikus időkorlátok és szünetek
Comment[id]=Otomatis mengatur waktu jeda dan istirahat
Comment[is]=Sjálfvirkar tímasetningar á hvíldartímum
Comment[it]=Interruzioni e pause controllate automaticamente
Comment[ja]=休憩と休憩時間を管理します
Comment[kk]=Үзілістерді автоматты басқару
Comment[ko]=휴식과 시간초과 상태를 자동으로 관리합니다
Comment[lt]=Automatiškai valdomi galiojimo laikai ir pertraukos
Comment[lv]=Automātiski kontrolē laika iztecējumu un pārtraukumus
Comment[ms]=Kawal masa tamat dan rehat secara automatik
Comment[nb]=Automatisk kontrollert tidsavbrudd og pauser
Comment[nl]=Automatisch aangestuurde pauzes en onderbrekingen
Comment[oc]=Temps mòrts contrarotladas automaticament e las pausas
Comment[pl]=Przerywa pracę po określonym czasie
Comment[pt]=Controlar automaticamente as interrupções e pausas
Comment[pt_BR]=Controlar automaticamente as interrupções e pausas
Comment[ru]=Автоматически контролировать перерывы
Comment[sk]=Automaticky ovládané vypršanie času a prestávky
Comment[sr]=Самостално управљање прекидима и преосталим временом
Comment[sv]=Automatiskt kontrollerade pauser och raster
Comment[tr]=Otomatik denetimli zaman aşımları ve molalar
Comment[ug]=ئاپتوماتىك تىزگىنلەنگەن ۋاقىت ئېشىپ كېتىشلەر ۋە توختاشلار
Comment[uk]=Автоматично контрольовані паузи та перерви
Comment[ur]=وقت تمام اور وقفے خودکار کنٹرول شدہ
Comment[ur_PK]=وقت تمام اور وقفے خودکار کنٹرول شدہ
Comment[zh_CN]=自动控制的超时与休息
Comment[zh_TW]=自動控制的倒數計時與休息
Icon=xfce4-time-out-plugin
X-XFCE-Internal=FALSE
X-XFCE-Module=time-out
X-XFCE-Unique=true
