[Desktop Entry]
Version=1.0
Icon=qupzilla
Type=X-XFCE-Helper
Name=QupZilla
Name[ast]=QupZilla
Name[bg]=QupZilla
Name[cs]=QupZilla
Name[da]=QupZilla
Name[de]=QupZilla
Name[es]=QupZilla
Name[fi]=QupZilla
Name[fr]=QupZilla
Name[hr]=QupZilla
Name[it]=QupZilla
Name[ja]=QupZilla
Name[kk]=QupZilla
Name[ko]=QupZilla
Name[ms]=QupZilla
Name[nb]=QupZilla
Name[nl]=QupZilla
Name[pl]=QupZilla
Name[pt]=QupZilla
Name[pt_BR]=QupZilla
Name[ro]=QupZilla
Name[ru]=QupZilla
Name[sk]=QupZilla
Name[sr]=Купзила
Name[th]=QupZilla
Name[uk]=QupZilla
Name[zh_CN]=QupZilla
StartupNotify=true
X-XFCE-Binaries=qupzilla;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
